{% extends 'shop1/index_base.html' %}

{% block page_title %}Regionální tržnice{% endblock %}

{% block maincontent %}
	<div class="row">
	
		<div class="col-md-4">
			<div class="home-category">
				<div class="home-category-img">
					<img src="/static/img/svg/hamburger.svg" alt="Rychlé občerstvení">
					<div class="home-category-hover">
						<a href="producenti/fastfood/az/" class="home-category-hover-linkA"><i class="fa fa-link xfax"></i> Producenti (A-Z)</a>
						<a href="producenti/fastfood/top/" class="home-category-hover-linkB"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-star"></i>)</a>
						<a href="produkty/fastfood/az/" class="home-category-hover-linkC"><i class="fa fa-link xfax"></i> Produkty (A-Z)</a>
						<a href="producenti/fastfood/on/" class="home-category-hover-linkD"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-toggle-on"></i>)</a>
					</div>
				</div>
				
				<h2><a href="#">Rychlé občerstvení</a></h2>
			</div>
			
		</div>
		
		<div class="col-md-4">
			<div class="home-category">
				<div class="home-category-img">
					<img src="/static/img/svg/fresh-carrot.svg" alt="Zdravé jídlo">
					<div class="home-category-hover">
						<a href="producenti/freshfood/az/" class="home-category-hover-linkA"><i class="fa fa-link xfax"></i> Producenti (A-Z)</a>
						<a href="producenti/freshfood/top/" class="home-category-hover-linkB"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-star"></i>)</a>
						<a href="produkty/freshfood/az/" class="home-category-hover-linkC"><i class="fa fa-link xfax"></i> Produkty (A-Z)</a>
						<a href="producenti/freshfood/on/" class="home-category-hover-linkD"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-toggle-on"></i>)</a>
					</div>
				</div>
				
				<h2><a href="#">Zdravé jídlo</a></h2>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="home-category">
				<div class="home-category-img">
					<img src="/static/img/svg/cake.svg" alt="Zákusky">
					<div class="home-category-hover">
						<a href="producenti/sweets/az/" class="home-category-hover-linkA"><i class="fa fa-link xfax"></i> Producenti (A-Z)</a>
						<a href="producenti/sweets/top/" class="home-category-hover-linkB"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-star"></i>)</a>
						<a href="produkty/sweets/az/" class="home-category-hover-linkC"><i class="fa fa-link xfax"></i> Produkty (A-Z)</a>
						<a href="producenti/sweets/on/" class="home-category-hover-linkD"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-toggle-on"></i>)</a>
					</div>
				</div>
				
				<h2><a href="#">Zákusky</a></h2>
			</div>		
		</div>
		
	</div>
	
	<div class="row">
	
		<div class="col-md-4">
			<div class="home-category">
				<div class="home-category-img">
					<img src="/static/img/svg/cucumber.svg" alt="Suroviny">
					<div class="home-category-hover">
						<a href="producenti/raws/az/" class="home-category-hover-linkA"><i class="fa fa-link xfax"></i> Producenti (A-Z)</a>
						<a href="producenti/raws/top/" class="home-category-hover-linkB"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-star"></i>)</a>
						<a href="produkty/raws/az/" class="home-category-hover-linkC"><i class="fa fa-link xfax"></i> Produkty (A-Z)</a>
						<a href="producenti/raws/on/" class="home-category-hover-linkD"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-toggle-on"></i>)</a>
					</div>
				</div>
				
				<h2><a href="#">Suroviny</a></h2>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="home-category">
				<div class="home-category-img">
					<img src="/static/img/svg/direct.svg" alt="Přímý prodej">
					<div class="home-category-hover">
						<a href="producenti/direct/az/" class="home-category-hover-linkA"><i class="fa fa-link xfax"></i> Producenti (A-Z)</a>
						<a href="producenti/direct/top/" class="home-category-hover-linkB"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-star"></i>)</a>
						<a href="produkty/direct/az/" class="home-category-hover-linkC"><i class="fa fa-link xfax"></i> Produkty (A-Z)</a>
						<a href="producenti/direct/on/" class="home-category-hover-linkD"><i class="fa fa-link xfax"></i> Producenti (<i class="fa fa-toggle-on"></i>)</a>
					</div>
				</div>
				
				<h2><a href="#">Přímý prodej</a></h2>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="home-category">
				<div class="home-category-img">
					<img src="/static/img/svg/vize.svg" alt="Vize projektu">
					<div class="home-category-hover">
						<a href="vize-projektu/" class="home-category-hover-linkD"><i class="fa fa-tree"></i> Přejít</a>
					</div>
				</div>
				
				<h2><a href="vize-projektu/">Vize projektu</a></h2>
			</div>		
		</div>
	</div>
{% endblock %}