{% extends 'shop1/index_base.html' %}

{% block page_title %}Vize projektu{% endblock %}

{% block mapa_stranky %}
<div class="row">
	<div class="col-md-12">
		<p>
			<a href="/"><i class="fa fa-home"></i></a> | <img src="/static/img/svg/fresh-carrot.svg" width="32" height="32">			
		</p>
	</div>
</div>
{% endblock %}

{% block maincontent %}
	<div class="row">
	
		<div class="col-md-6">
			<div class="impressum-block">
				<img src="/static/img/brand1.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
				</p>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="impressum-block">
				<img src="/static/img/brand2.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="impressum-block">
				<img src="/static/img/brand3.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="impressum-block">
				<img src="/static/img/brand4.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="impressum-block">
				<img src="/static/img/brand5.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
				</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="impressum-block">
				<img src="/static/img/brand6.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
				</p>
			</div>
		</div>
	</div>
{% endblock %}