{% extends 'shop1/index_base.html' %}

{% block page_title %}Vize projektu{% endblock %}

{% block mapa_stranky %}
<div class="row">
	<div class="col-md-12">
		<p>
			<a href="/"><i class="fa fa-home"></i></a> | <img src="{% static '/img/dlazdice_green/vision.svg' %}" width="32" height="32">			
		</p>
	</div>
</div>
{% endblock %}

{% block maincontent %}
	<div class="row">
	
		<div class="col-md-12">
			<div class="impressum-block">
				{% if pi.image1 %}
					<img src="{{ pi.image1.url }}">
				{% else %}
					<img src="/static/img/brand1.png">
				{% endif %}
				<p>
					{{ pi.impressum1 }}
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="row">
	
		<div class="col-md-12">
			<div class="impressum-block">
				{% if pi.image2 %}
					<img src="{{ pi.image2.url }}">
				{% else %}
					<img src="/static/img/brand2.png">
				{% endif %}
				<p>
					{{ pi.impressum2 }}
				</p>
			</div>
		</div>
	
	</div>
	
	<div class="row">
	
		<div class="col-md-6">
			<div class="impressum-block">
				{% if pi.image3 %}
					<img src="{{ pi.image3.url }}">
				{% else %}
					<img src="/static/img/brand3.png">
				{% endif %}
				<p>
					{{ pi.impressum3 }}
				</p>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="impressum-block">
				{% if pi.image4 %}
					<img src="{{ pi.image4.url }}">
				{% else %}
					<img src="/static/img/brand4.png">
				{% endif %}
				<p>
					{{ pi.impressum4 }}
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-md-4">
			<div class="impressum-block">
				{% if pi.image5 %}
					<img src="{{ pi.image5.url }}">
				{% else %}
					<img src="/static/img/brand5.png">
				{% endif %}
				<p>
					{{ pi.impressum5 }}
				</p>
			</div>
		</div>
	
		<div class="col-md-4">
			<div class="impressum-block">
				{% if pi.image6 %}
					<img src="{{ pi.image6.url }}">
				{% else %}
					<img src="/static/img/brand6.png">
				{% endif %}
				<p>
					{{ pi.impressum6 }}
				</p>
			</div>
		</div>
	
		<div class="col-md-4">
			<div class="impressum-block">
				{% if pi.image7 %}
					<img src="{{ pi.image7.url }}">
				{% else %}
					<img src="/static/img/brand6.png">
				{% endif %}
				<p>
					{{ pi.impressum7 }}
				</p>
			</div>
		</div>
		
	</div>
{% endblock %}