{% extends 'shop1/index_base.html' %}
{% load staticfiles %}

{% block page_title %}{{kategorie_familiar}}{% endblock %}
{% block mapa_stranky %}
<div class="row">
	<div class="col-md-12">
		<p>
			<a href="/"><i class="fa fa-home"></i></a> | <a class="backbutton" href=""><img src="{{ kategorie_imgsrc }}" width="32" height="32"></a>
			{% if producent %}
				| {{ producent.name }}
			{% endif %}
		</p>
	</div>
</div>
{% endblock %}

{% block maincontent %}
	{% if producent %}
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="producers-image">
					<div class="thumbnail">
						{% if producent.picture %}
							<img src="{{ producent.picture.url }}">
						{% else %}
							<img src="{{ noimg_src }}">
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="producers-details">
					<div class="row">
						<a>{{ producent.name }}</a>
					</div>
					<svg class="semafor">
						{% for stav, barva in semstavy.iteritems %}
							{% if restaurace.online == stav %}
								<circle cx="10" cy="10" r="5" fill="{{ barva }}" />
							{% endif %}
						{% endfor %}
					</svg>
					<div class="row">
						Hodnocení
					</div>
					<div class="row">
						{{ producent.address }}
					</div>
					{% if ost_kat %}
						<div class="row">
							V nabídce také: 
							{% for kat in ost_kat %}
								<a class="ostkatost" href="{% url 'products_list' kategorie=kat.name razeni=razeni %}">
									<span class="label label-success">
									{% for k,v in katfam.iteritems %}
										{% if k == kat.name %}
											{{ v }}
										{% endif %}
									{% endfor %}
									</span>
								</a>
							{% endfor %}
						</div>
					{% endif %}
					<div class="row">
						{% for lt in ptags %}
							<span class="label label-default">{{ lt }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if specials %}
		{% for special_ftype, special_products in specials.iteritems %}
			{% if special_products %}
				<div class="container">
					<h2>
						{% for ftft, ftnm in foodtypes.iteritems %}
							{% if ftft == special_ftype %}
								{{ ftnm }}
							{% endif %}
						{% endfor %}
					</h2>

					{% for sprodukt in special_products %}
						<div class="col-md-3 col-sm-6">
							<div class="products-single">
								<div class="thumbnail">
									<a href="{% url 'product_detail' pk=sprodukt.pk %}">
										{% if sprodukt.picture %}
											<img src="{{ sprodukt.picture.url }}">
										{% else %}
											<img src="{{ noimg_src }}">
										{% endif %}
									</a>
								</div>
								<a href="{% url 'product_detail' pk=sprodukt.pk %}"><h2>{{ sprodukt.name }}</h2></a>
								<div class="xrow ltrow">
									{% for lt in sprodukt.label_tags.all %}
										<span class="label label-default">{{ lt }}</span>
									{% endfor %}
								</div>
								<div class="xrow">
									<h3>{{ sprodukt.cost }},- Kč</h3>
										<p>
											<a href="#" class="addToCart btn btn-success btn-sm" data-productId="{{ sprodukt.id }}" data-productValue="{{ sprodukt.cost }}" >
												<img src="{% static '/img/ikony/basket.svg' %}" width="16" height="16"> Přidat do košíku
											</a>
										</p>
										<p>
											<a href="#" class="addToCart2 btn btn-success btn-sm" data-productId="{{ sprodukt.id }}" data-productValue="{{ sprodukt.cost }}" >
												<img src="{% static '/img/ikony/foodtime.svg' %}" width="16" height="16"> Přidat do časového košíku
											</a>
										</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	{% else %}

	<div class="container">
		{% if prodlist %}
			{% for produkt in prodlist %}
				<div class="col-md-3 col-sm-6">
					<div class="products-single">
						<div class="thumbnail">
							<a href="{% url 'product_detail' pk=produkt.pk %}">
								{% if produkt.picture %}
									<img src="{{ produkt.picture.url }}">
								{% else %}
									<img src="{{ noimg_src }}">
								{% endif %}
							</a>
						</div>
						<a href="{% url 'product_detail' pk=produkt.pk %}"><h2>{{ produkt.name }}</h2></a>
						<div class="xrow ltrow">
							{% for lt in produkt.label_tags.all %}
								<span class="label label-default">{{ lt }}</span>
							{% endfor %}
						</div>
						<div class="xrow">
							<h3>{{ produkt.cost }},- Kč</h3>
								<p>
									<a href="#" class="addToCart btn btn-success btn-sm" data-productId="{{ produkt.id }}" data-productValue="{{ produkt.cost }}" >
										<img src="{% static '/img/ikony/basket.svg' %}" width="16" height="16"> Přidat do košíku
									</a>
								</p>
								<p>
									<a href="#" class="addToCart2 btn btn-success btn-sm" data-productId="{{ produkt.id }}" data-productValue="{{ produkt.cost }}" >
										<img src="{% static '/img/ikony/foodtime.svg' %}" width="16" height="16"> Přidat do časového košíku
									</a>
								</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>Nejsou zde žádné produkty.</h2>
		{% endif %}
			
	</div>
	{% endif %}
	{% if napoje %}
		<div class="row">
			<div class="container"><div class="row drinks-title">
				<h3>Nápoje</h3>
			</div></div>
			{% for napoj in napoje %}
				<div class="col-md-3 col-sm-6">
					<div class="products-single">
						<div class="thumbnail">
							<a href="{% url 'product_detail' pk=napoj.pk %}">
								{% if napoj.picture %}
									<img src="{{ napoj.picture.url }}">
								{% else %}
									<img src="{{ noimg_src }}">
								{% endif %}
							</a>
						</div>
						<a href="{% url 'product_detail' pk=napoj.pk %}"><h2>{{ napoj.name }}</h2></a>
						<div class="xrow">
							<h3>{{ napoj.cost }},- Kč</h3>
								<p>
									<a href="#" class="addToCart btn btn-success btn-sm" data-productId="{{ napoj.id }}" data-productValue="{{ napoj.cost }}" >
										<img src="{% static '/img/ikony/basket.svg' %}" width="16" height="16"> Přidat do košíku
									</a>
								</p>
								<p>
									<a href="#" class="addToCart2 btn btn-success btn-sm" data-productId="{{ napoj.id }}" data-productValue="{{ napoj.cost }}" >
										<img src="{% static '/img/ikony/foodtime.svg' %}" width="16" height="16"> Přidat do časového košíku
									</a>
								</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}