{% extends 'shop1/index_base.html' %}

{% block page_title %}{{ produkt.name }}{% endblock %}
{% block mapa_stranky %}
<div class="row">
	<div class="col-md-12">
		<p>
			<a href="/"><i class="fa fa-home"></i></a> | <img src="{{ kategorie_imgsrc }}" width="32" height="32"> | <a href="" class="backbutton">{{ produkt.producer.name }}</a> | {{ produkt.name }}
		</p>
	</div>
</div>
{% endblock %}

{% block maincontent %}
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="producers-image">
				<div class="thumbnail">
					{% if produkt.picture %}
						<img src="{{ produkt.picture.url }}">
					{% else %}
						<img src="/media/producers_img/producer-nologo.png">
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-6">
			<div class="producers-details">
				<div class="row">
					{{ produkt.name }}
				</div>
				<div class="row">
					{{ produkt.description }}
				</div>
				<div class="row">
					{{ produkt.producer.name }}
				</div>
				<div class="row">
					Štítky
				</div>
				<div class="row">
					{{ produkt.cost }},- Kč
				</div>
				<div class="footer">
					<a href="#" class="addToCart btn btn-primary" data-productId="{{ produkt.id }}" data-productValue="{{ produkt.cost }}" ><img src="{% static '/img/svg/basket-green.svg' %}" width="32" height="32"> Přidat do košíku</a>
					<a href="#" class="addToCart2 btn btn-primary" data-productId="{{ produkt.id }}" data-productValue="{{ produkt.cost }}" ><img src="{% static '/img/svg/foodtime.svg' %}" width="32" height="32"> Přidat do časového košíku</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}