{% extends 'shop1/index_base.html' %}

{% block page_title %}{{kategorie_familiar}}{% endblock %}
{% block mapa_stranky %}
<div class="row">
	<div class="col-md-12">
		<p>
			<a href="/"><i class="fa fa-home"></i></a> | <a class="backbutton" href=""><img src="{{ kategorie_imgsrc }}" width="32" height="32"></a>
			{% if producent %}
				| {{ producent.name }}
			{% endif %}
		</p>
	</div>
</div>
{% endblock %}

{% block maincontent %}
	{% if producent %}
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="producers-image">
					<div class="thumbnail">
						{% if producent.picture %}
							<img src="{{ producent.picture.url }}">
						{% else %}
							<img src="/media/producers_img/producer-nologo.png">
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="producers-details">
					<div class="row">
						<a>{{ producent.name }}</a>
					</div>
					<div class="row">
						Hodnocení
					</div>
					<div class="row">
						{{ producent.address }}
					</div>
					<div class="row">
						Štítky
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="row">
		{% if prodlist %}
			{% for produkt in prodlist %}
				<div class="col-md-3 col-sm-6">
					<div class="products-single">
						<div class="thumbnail">
							<a href="{% url 'product_detail' pk=produkt.pk %}">
								{% if produkt.picture %}
									<img src="{{ produkt.picture.url }}">
								{% else %}
									<img src="/media/producers_img/producer-nologo.png">
								{% endif %}
							</a>
						</div>
						<a href="{% url 'product_detail' pk=produkt.pk %}"><h2>{{ produkt.name }}</h2></a>
						<div class="row">
						<h3>{{ produkt.cost }},- Kč</h3>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>Nejsou zde žádné produkty.</h2>
		{% endif %}
			
	</div>
{% endblock %}