{% extends 'shop1/index_base.html' %}
{% load staticfiles %}

{% block page_title %}{{ produkt.name }}{% endblock %}
{% block mapa_stranky %}
<div class="row">
	<div class="col-md-12">
		<p>
			<a href="/"><i class="fa fa-home"></i></a> | <img src="{{ kategorie_imgsrc }}" width="32" height="32"> | <a href="" class="backbutton">{{ produkt.producer.name }}</a> | {{ produkt.name }}
		</p>
	</div>
</div>
{% endblock %}

{% block maincontent %}
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="producers-image">
				<div class="thumbnail">
					{% if produkt.picture %}
						<img src="{{ produkt.picture.url }}">
					{% else %}
						<img src="{{ noimg_src }}">
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-6">
			<div class="product-details">
				<div class="row">
					<h2>{{ produkt.name }}</h2>
				</div>
				<div class="row">
					{{ produkt.description }}
				</div>
				<div class="row">
					{{ produkt.producer.name }}
				</div>
				<div class="row">
					{% if produkt.category.name != 'drinks' %}
						{% for lt in produkt.label_tags.all %}
							<span class="label label-default">{{ lt }}</span>
						{% endfor %}
					{% endif %}
				</div>
				<div class="row">
					<h3>{{ produkt.cost }}<small>,- Kč</small></h3>
				</div>
				<div class="footer">
					<p>
						<a href="#" class="addToCart btn btn-success btn-sm" data-productId="{{ produkt.id }}" data-productValue="{{ produkt.cost }}" >
							<img src="{% static '/img/ikony/basket.svg' %}" width="16" height="16"> Přidat do košíku
						</a>
					</p>
					<p>
						<a href="#" class="addToCart2 btn btn-success btn-sm" data-productId="{{ produkt.id }}" data-productValue="{{ produkt.cost }}" >
							<img src="{% static '/img/ikony/foodtime.svg' %}" width="16" height="16"> Přidat do časového košíku
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}