{% extends 'shop1/index_base.html' %}

{% block page_title %}{{kategorie_familiar}}{% endblock %}

{% block maincontent %}
	<div class="row">
		{% if restlist %}
			{% for restaurace in restlist %}
				<div class="col-md-3 col-sm-6">
					<div class="producers-single">
						{% if restaurace.picture.image %}
							<img src="{{ restaurace.picture.image.url }}">
						{% else %}
							<img src="/media/producers_img/producer-nologo.png">
						{% endif %}
						<h2>{{ restaurace.name }}</h2>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>Nejsou zde žádné restaurace.</h2>
		{% endif %}
	</div>
{% endblock %}