{% extends 'tjpm/base.html' %}

{% block obsah %}
	<div class="row">
		<div class="col-md-12">
			<p>
				<a href="#" class="btn btn-sm btn-default">Zadat objednavku</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6" ng-repeat="(kia,query) in queue">
			<div class="card">
				<div class="header">
					<h4 class="title">min. () [ kc]
					<p class="category">Bezna objednavka (ID: #)</p>
				</div>
				<div class="content">
					<table class="table table-hover">
						<thead>
							<th>Qty.</th>
							<th>Zbozi</th>
							<th>Cena</th>
						</thead>
						<tbody>
							<tr ng-repeat="product in query.products">
								<td>qty</td>
								<td>nam</td>
								<td>qty x val = xxx kc</td>
							</tr>
						</tbody>
					</table>
					
					<div class="footer">
						<a href="" class="btn btn-sm btn-success" ng-click="prijmout(kia);">Přijmout (chci řidiče)<a>
						<a href="" class="btn btn-sm btn-info" ng-click="mamridice(kia);">Přijmout (mám řidiče)<a>
						<a href="" class="btn btn-sm btn-danger" ng-click="odmitnout(kia);">Odmítnout<a>
						<hr>
						<div class="stats">
							<i class="pe-7s-back-2"></i> Automatické odmítnutí za 5 minut.
						</div>
					</div>
				</div>
			</div>
		</div>
		
		0
	</div>
{% endblock %}