{% extends 'tjpm/base.html' %}

{% block content %}
	{% for prod in producers %}
	<div class="category">

		<header>
			<h3><a href="">{{ prod.name }}</a></h3>
		</header>
		
		<p>Adresa: {{ prod.address }}</p>
		<p>GPS: {{ prod.gps_point }}</p>
		<p>TimeParam: {{ prod.time_param }}</p>
		<p>Telefon: {{ prod.mobile }}</p>
		<p>Login: {{ prod.login }}</p>
		<p>Registrovan: {{ prod.registered_date }}</p>
		<p>Naposeldy aktivni: {{ prod.last_active }}</p>
		
		<footer>
			<em>{% if prod.online != 0 %} ONLINE {% else %} OFFLINE {% endif %}</em>
		</footer>
		
	</div>
	{% endfor %}
{% endblock %}